<h1>Mascotas Para Adoptar</h1>

<button type="button" class="btn btn-icon btn-primary" aria-label="settings" [routerLink]="['/agregar']" >
    <clr-icon shape="plus-circle"></clr-icon> Agregar Mascota
</button>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Edad</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mascotas">
            <td>{{item.nombre}}</td>
            <td>{{item.tipo}}</td>
            <td>{{item.edad}}</td>
            <td>{{item.descripcion}}</td>
        </tr>
    </tbody>
</table>