<form clrForm [formGroup]="agregarMascota" (ngSubmit)="onSubmit()">
  <clr-input-container>
    <label>Nombre</label>
    <input clrInput type="text" formControlName="nombre" />
    <clr-control-helper>Ingrese el nombre de la mascota</clr-control-helper>
    <clr-control-error>Debe ingresar el nombre de la mascota</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Tipo</label>
    <input clrInput type="text" formControlName="tipo" />
    <clr-control-helper>Ingrese el tipo de mascota</clr-control-helper>
    <clr-control-error>Debe ingresar el tipo de mascota</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Edad</label>
    <input clrInput type="number" min="1" max="120" formControlName="edad" />
    <clr-control-helper>Ingrese la edad de la mascota</clr-control-helper>
    <clr-control-error *ngIf="agregarMascota">Debe ingresar una edad(solo numeros)</clr-control-error>
    <clr-control-error></clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Descripcion</label>
    <input clrInput type="text" size="50" formControlName="descripcion" />
    <clr-control-helper>Escribe una descripcion sobre la mascota</clr-control-helper>
    <clr-control-error>Debe escribir una descripcion de la mascota</clr-control-error>
  </clr-input-container>

  <button class="btn btn-success" type="submit" [disabled]="!agregarMascota.valid" >Agregar</button>
  <button class="btn btn-primary" (click)="reset($event)">Limpiar</button>
  <button class="btn btn-outline" (click)="volver($event)">Cancelar</button>
</form>




  
